name: C++ Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: windows-latest 

    steps:
    - name: Check out the repository
      uses: actions/checkout@v4

    - name: Set up MinGW
      run: |
        choco install mingw -y
        $env:PATH += ";C:\ProgramData\chocolatey\bin"
        $env:PATH += ";C:\Program Files\mingw-w64\{your-version}\bin" 
        
    - name: Build the project
      run: |
        cd ${{ github.workspace }}
        mingw32-make
